* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Grenze", serif;
    font-style: italic;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #222222;
    color: antiquewhite;
}

header {
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    align-content: flex-end;

    background-color: #353535;
}

header h1 {
    padding: 2rem;
    text-align: start;
    font-size: 4rem;
}

main{
    max-width: 800rem;
    padding: 4rem;
    border-radius: 2rem;

    background-color: #333333;
}

main h2 {
    margin-bottom: 2rem;
    font-size: 4rem;
}

main #search-form form {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}

main #search-form input {
    height: 3rem;
    padding-left: 1rem;
    flex: 1;
    border-radius: 1rem;

    font-size: 1rem;
}

main #search-form button {
    border-radius: 1rem;
    width: 7rem;
}

main #weather-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main #weather-data .weather-info p {
    font-size: 1.5rem;
}

main #weather-data .weather-info span {
    font-size: 5rem;
    font-weight: bold;
    line-height: 3.5rem;
}


footer {
    width: 100%;
    position: fixed;
    bottom: 0;

    text-align: center;

    background-color: #373636;
}
footer p {
    padding: 1.5rem;
}